pysqlite3-binary; sys_platform != 'darwin'
streamlit
langchain
langchain-community
langchain-openai
langchain-chroma
python-dotenv
chromadb
docx2txt
protobuf==3.20.3
fastapi
uvicorn
pydantic
pypdf
requests
beautifulsoup4
faiss-cpu
docarray
logtail-python
